.ShopInfo {
  position: absolute;
  left: 100px;
  top: -350px;
  color: #000;
  box-sizing: border-box;
  width: 262px;
  height: 232px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}
.ShopInfo::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 23.65px;
  height: 11.96px;
  left: 13.57px;
  top: -7.75px;
  background: #FFFFFF;
  border: 1px solid #CACDD8;
  border-radius: 3px;
}

.ShopInfo__text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


.ShopInfo__grey-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #A2A6B0;
}

.ShopInfo__working-time{
  padding-right: 24px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #CACDD8;
}
.ShopInfo__text-block {
  height: 100%;
}
.ShopInfo__paragraph {
  max-width: 189px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  margin: 0;
}
.ShopInfo__paragraph_first-row {
  margin: 15px 0 4px;
}
.ShopInfo__info-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: start;
  margin: 0 0 9px 0;
}
.ShopInfo__clock {
  align-self: flex-start;
  margin: 10px 7px 0 8px;
}
.ShopInfo__address {
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 23px 0 9px;
  border-bottom: 1px solid #CACDD8;
}
.ShopInfo__phone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 21px;
  height: 68px;
}