.wrapper {
  min-height: 681px;
}
.wrapper_theme_light {
  background-color: #fff;
  color: #000;
}
.wrapper_theme_dark {
  background-color: #000;
  color: #fff;
}
.img {
  max-width: 40%;
}
.img_order_first {
  order: -1;
}
.textblock {
  max-width: 465px;
}
.header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
}
.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}