.container {
  width: 233px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin: 0;
  flex-grow: 1;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  color: #FFF;
  max-width: 130px;
  text-align: center;
  display: flex;
  align-items: center;
}

.link {
  margin-bottom: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 115%;
  text-decoration-line: underline;
  color: #FFF;
}