.default {
  width: 1400px;
  min-width: 375px;
}
.full-width {
  width: 100%;
}
.centered {
  margin: 0 auto;
}
.flex {
  display: flex;
}
.all-center {
  align-items: center;
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}