.Input {
  margin: 2px 0 10px 0;
  min-width: 390px;
  max-width: 449px;
  background-color: transparent;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  padding: 13px 17px;
  border-radius: 4px;
  box-sizing: border-box;
}
.Input:focus {
  border: 2px solid #0156FF;
  outline: none;
}
.Input__light-theme {
  background-color: #fff;
  color: #000;
  border: 2px solid #A2A6B0;
}
.Input::placeholder {
  color: #A2A6B0;
}

.Input__dark-theme {
  color: #fff;
  border: 2px solid #fff;
}
.Input__dark-theme:focus {
  color: #0156FF;
}